<a href="https://colab.research.google.com/github/LatiefDataVisionary/data-management-and-data-infrastructure-college-task/blob/main/Bank_Marketing_Campaign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Import Library**

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

##**Load Dataset**

Mount Google Drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

Navigasi File

In [4]:
file_path ='/content/drive/My Drive/Management and Infrastruktur Data/bank.csv'
data = pd.read_csv(file_path)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

## **1. Pra-Pengolahan Data**

### **Mencari Informasi Dataset**

Secara sederhana, `data.info()` memberikan kita gambaran umum tentang dataset yang sedang kita gunakan. Ibaratnya seperti membaca *summary* atau ringkasan dari sebuah buku sebelum kita membacanya secara keseluruhan.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

Nah, dari output `data.info()` diatas, kita bisa mendapatkan informasi penting berikut:

1. **Jumlah Baris dan Kolom**: Dataset ini memiliki **11.162 baris data**, yang artinya ada 11.162 observasi atau individu yang tercatat. Selain itu, dataset ini memiliki **17 kolom**, yang berarti ada 17 variabel atau atribut yang mendeskripsikan setiap observasi.

2. **Nama dan Tipe Data Kolom**: Tabel di output `data.info()` menunjukkan nama setiap kolom beserta tipe datanya.  

  * Ada **7 kolom** dengan tipe data `int64`, yang berarti kolom-kolom ini berisi bilangan bulat (integer). Contohnya: `age`, `balance`, `day`, `duration`, `campaign`, `pdays`, dan `previous`.
  * Ada **10 kolom** dengan tipe data `object`, yang biasanya menunjukkan data kategorikal atau teks. Contohnya: `job`, `marital`, `education`, `default`, `housing`, `loan`, `contact`, `month`, `poutcome`, dan `deposit`.
3. **Jumlah Data yang Tidak Kosong (Non-Null)**: Pada bagian Non-Null Count, kita bisa melihat jumlah data yang tidak kosong (tidak hilang/ *missing*) pada setiap kolom. Untungnya, semua kolom pada dataset ini memiliki 11.162 data non-null, yang berarti tidak ada *missing values* yang perlu kita khawatirkan.

4. **Penggunaan Memori**: Di bagian bawah output, tertulis `memory usage: 1.4+ MB`. Ini menunjukkan seberapa besar memori yang digunakan oleh dataset ini di Colab. Informasi ini berguna untuk memperkirakan kebutuhan memori saat kita memproses dataset yang lebih besar.

### **Mengecek nilai yang hilang (*missing value*)**

Secara sederhana, kode `data.isnull().sum()` digunakan untuk **mengecek apakah ada data yang hilang (missing values)** dalam dataset kita.

Cara kerjanya begini:

1. `data.isnull()`: Bagian ini akan memeriksa setiap sel di dalam dataset. Jika sel tersebut kosong atau tidak berisi data, maka akan diberi tanda `True`, dan jika berisi data, akan diberi tanda `False`.
2. `.sum()`: Kemudian, fungsi `sum()` akan menjumlahkan semua tanda `True` (yang menandakan *missing values*) pada setiap kolom.

In [6]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

Kita bisa melihat bahwa **semua kolom memiliki nilai 0**. Artinya, **tidak ada data yang hilang (missing values)** di dalam dataset kamu. Semua kolom terisi penuh dengan data.

Ini adalah kabar baik! Karena kita tidak perlu melakukan penanganan khusus untuk *missing values*, seperti *imputation* atau menghapus baris/kolom yang memiliki data kosong. Kita bisa langsung melanjutkan ke tahap analisis data selanjutnya.

### **Transformasi Data**

Beberapa algoritma machine learning bekerja lebih baik jika data memiliki distribusi normal. Kita bisa mempertimbangkan transformasi data seperti logaritmik atau Box-Cox.

In [9]:
data['balance_log'] = np.log1p(data['balance'])

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

**Alasan**: Transformasi data dapat membantu meningkatkan linearitas dan normalitas data, yang dapat meningkatkan performa beberapa model.

## **2. Eksplorasi Data (EDA)**

Statistik deskriptif

In [ ]:
data.describe()

In [ ]:
categorical_cols = [col for col in data.columns if data[col].dtype == 'object']
for col in categorical_cols:
  print(f"Value counts for columns {col}:")
  print(data[col].value_counts())
  print("\n")

Distribusi variabel numerik

In [ ]:
plt.figure(figsize=(12, 6))
plt.subplot(2, 3, 1)
sns.histplot(data['age'], kde=True)
plt.title('Distribusi Usia')
plt.subplot(2, 3, 2)
sns.histplot(data['balance'], kde=True)
plt.title('Distribusi Saldo')
plt.subplot(2, 3, 3)
sns.histplot(data['duration'], kde=True)
plt.title('Distribusi Durasi Kontak')
plt.subplot(2, 3, 4)
sns.histplot(data['campaign'], kde=True)
plt.title('Distribusi Jumlah Kontak')
plt.subplot(2, 3, 5)
sns.histplot(data['pdays'], kde=True)
plt.title('Distribusi Hari Sejak Kontak Terakhir')
plt.subplot(2, 3, 6)
sns.histplot(data['previous'], kde=True)
plt.title('Distribusi Jumlah Kontak Sebelumnya')
plt.tight_layout()
plt.show()

Boxplot untuk melihat outlier

In [ ]:
plt.figure(figsize=(12, 6))
plt.subplot(2, 3, 1)
sns.boxplot(y=data['age'])
plt.title('Boxplot Usia')
plt.subplot(2, 3, 2)
sns.boxplot(y=data['balance'])
plt.title('Boxplot Saldo')
plt.subplot(2, 3, 3)
sns.boxplot(y=data['duration'])
plt.title('Boxplot Durasi Kontak')
plt.subplot(2, 3, 4)
sns.boxplot(y=data['campaign'])
plt.title('Boxplot Jumlah Kontak')
plt.subplot(2, 3, 5)
sns.boxplot(y=data['pdays'])
plt.title('Boxplot Hari Sejak Kontak Terakhir')
plt.subplot(2, 3, 6)
sns.boxplot(y=data['previous'])
plt.title('Boxplot Jumlah Kontak Sebelumnya')
plt.tight_layout()
plt.show()

Proporsi kelas target ('deposit')

In [ ]:
plt.figure(figsize=(6, 4))
sns.countplot(x=data['deposit'])
plt.title('Proporsi Deposit')
plt.show()

Hubungan antara variabel kategorikal dan target

In [ ]:
categorical_cols_eda = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'] # Kolom kategorikal sebelum di-encode
for col in categorical_cols_eda:
    plt.figure(figsize=(10, 6))
    sns.countplot(x=data[col], hue=data['deposit'])
    plt.title(f'Deposit berdasarkan {col}')
    plt.xticks(rotation=45, ha='right')  # Rotasi label sumbu x agar tidak tumpang tindih
    plt.tight_layout()
    plt.show()

## **3. Feature Engineering**

**a. Membuat fitur interaksi**

In [ ]:
# Contoh: Kombinasi 'age' dan 'job'
data['age_job'] = data['age'].astype(str) + '_' + data['job']
encoder_age_job = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_age_job = encoder_age_job.fit_transform(data[['age_job']])
encoded_age_job_df = pd.DataFrame(encoded_age_job, columns=encoder_age_job.get_feature_names_out(['age_job']))
data = data.drop(columns=['age_job'])  # Hapus kolom asli
data = pd.concat([data, encoded_age_job_df], axis=1)

**b. Encoding Fitur Kategorikal**

Konversi variabel kategorikal menjadi numerik menggunakan One-Hot Encoding

In [ ]:
categorical_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore') #sparse=false agar output tidak sparse matrix, handle_unknown='ignore' agar data baru
encoded_data = encoder.fit_transform(data[categorical_cols])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))
data = data.drop(categorical_cols, axis=1) # Hapus kolom kategorikal asli
data = pd.concat([data, encoded_df], axis=1) # Gabungkan data dengan hasil encoding

Mengubah variabel target 'deposit' menjadi numerik (0 dan 1)

In [ ]:
data['deposit'] = data['deposit'].map({'yes': 1, 'no': 0})

Standarisasi data numerik (opsional, tapi direkomendasikan untuk beberapa model)

In [ ]:
numerical_cols = ['age', 'balance', 'duration', 'campaign', 'pdays', 'previous']
scaler = StandardScaler()
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

c. Binning untuk variabel numerik

In [ ]:
# Contoh: Binning 'age' menjadi 3 kategori
bins = [0, 30, 60, 100]
labels = ['Muda', 'Dewasa', 'Lansia']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)
data = pd.get_dummies(data, columns=['age_group'], prefix=['age_group']) # One-hot encoding untuk 'age_group'

**d. Membuat fitur baru**

In [ ]:
# Contoh: Total jumlah interaksi (campaign + previous)
data['total_interactions'] = data['campaign'] + data['previous']